.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 100;
    left: 0;
    background-color: #263238;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}


.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #a2dc4d;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding-left: 190px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.openbtn{
	font-size:30px;
	cursor:pointer;
	padding-left: 30px;
}

.navbar-color{
    background-color: #a2dc4d;
}
